@import url('https://fonts.googleapis.com/css?family=Arvo|Bree+Serif|Montserrat');
html {
	font-size: 1rem;
	margin: 0;
}
body {
	background: lightcyan;
	font-size: 1em;
	font-family: 'Arvo', serif;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Bamboo_Brush_Painting.svg/376px-Bamboo_Brush_Painting.svg.png");
		background-repeat: no-repeat;
		background-position: right top;
		background-attachment: fixed;
}
h1, h3, h5, h6 {
	color: gold;
	font-family: 'Arvo', serif;
	font-stretch: condensed;
	letter-spacing: 1.1px;
}
a {
	color: gold;
	font-family: 'Arvo', serif;
}
h4 {
	color: DarkCyan;
	font-family: 'Arvo', serif;
	font-stretch: condensed;
	letter-spacing: 1.1px;
}
h4.b {
	color: gold;
	font-family: 'Arvo', serif;
	font-stretch: condensed;
	letter-spacing: 1.1px;
}
h1 {
	border-bottom: 8px groove darkcyan;
	border-radius: 150px;
	padding-left: 10px;
	padding-bottom: 3px;
	background: linear-gradient(to right, whitesmoke, powderblue);
	font-variant: small-caps;
	text-shadow: 1px 1px 1px black;
}
h2 {
	color: lightsalmon;
	font-family: 'Bree Serif', serif;
	letter-spacing: 1px;
}
a {
	color: DarkOrange;
}
p {
	color: black; 
	font-family: 'Montserrat', sans-serif;
	font-stretch: expanded;
}
section {
	text-align: justify;
    text-justify: inter-word;
}
header {
	border: 10px double powderblue;
    border-radius: 150px;
    padding: 10px;
	background: teal;
	margin: 15px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer {
	border: 10px double powderblue;
	border-radius: 100px;
	color: white;
	text-align: center;
	background: teal;
	font-size: 1em;
	padding: 20px;
	margin: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer p::first-letter {
	color: lightcyan;
	font-size: 2em;
}
footer a {
  color: white;
  padding: .5em;
  font-size: 2em;
}
footer a:hover {
	color: gold;
}
footer a::fourth-letter {
	color: red;
}
aside {
	border: 10px double orange;
	padding-left: 10px;
	background: linear-gradient(beige, lightgrey);
	background-color: beige;
	background-repeat: repeat-x;
	margin-top: 10px;
	display: block;
}
.special {
	background-color: rgba(255, 228, 181, 0.9);
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 10px;
	padding-right: 10px;
}
#unique {
	background-color: rgba(188, 143, 143, 0.9);
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 10px;
	padding-right: 10px;
}
section {
	background-color: rgba(188, 143, 143, 0.9);
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 10px;
	padding-right: 10px;
}
.fab {
	color: cyan;
}
ul.a {
    list-style-position: outside;
	color: black; 
	font-family: 'Montserrat', sans-serif;
	font-stretch: expanded;
}